.main {
  padding-top: 3rem;
}

.main h1 {
  margin: 0;
  text-align: center;
  color: var(--light);
  font-weight: normal;
}

.main input {
  display: block;
  margin: 1rem auto;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.75rem;
  width: 90%;
  max-width: 400px;
}

.main input::placeholder {
  color: black;
  opacity: 0.4;
  font-style: italic;
}

.main button {
  padding: 0.5rem;
  display: block;
  color: var(--dark);
  background: var(--light-green);
  border: none;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  margin: 1rem auto;
}
