:root {
  --amethyst: #9b5de5ff;
  --magenta-crayola: #f15bb5ff;
  --minion-yellow: #fee440ff;
  --capri: #00bbf9ff;
  --sea-green-crayola: #00f5d4ff;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--capri);
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #200a00;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
