.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 3rem 1rem 1rem;
  opacity: 0.35;
}

.close {
  position: absolute;
  top: 1rem;
  left: 0.75rem;
  z-index: 10;
}
.close button {
  background: none;
  border: none;
  outline: none;
  z-index: 10;
  padding: 0;
}
.close button svg {
  stroke: var(--light);
  fill: var(--light);
  width: 1.5rem;
  stroke-width: 2px;
}

.recalculate {
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.recalculate button {
  background: none;
  border: none;
  outline: none;
  color: var(--light);
  font-weight: normal;
  font-size: 2.5rem;
  z-index: 10;
  line-height: 0.75;
  opacity: 1;
}

.recalculate button[disabled] {
  opacity: 0.5;
}

.arrow {
  position: fixed;
  --vw-max: 90vw;
  --vh-max: 90vh;

  --point-length: 30px;
  --line-length: calc(var(--vw-max) - var(--point-length));
  --arrow-length: calc(var(--line-length) + var(--point-length));

  --point-width: 12px;
  --line-width: 6px;

  width: var(--arrow-length);
  max-width: var(--vh-max);
  top: calc(50vh);
  left: calc((100vw - min(var(--arrow-length), var(--vh-max))) / 2);
  margin: auto 0;
}

.arrow .line {
  margin-top: calc((var(--point-width) + var(--line-width)) / 2);
  width: var(--line-length);
  max-width: calc(var(--vh-max) - var(--point-length));
  background: var(--dark);
  height: var(--line-width);
  float: left;
  position: relative;
}

.arrow .point {
  width: 0;
  height: 0;
  border-top: var(--point-width) solid transparent;
  border-bottom: var(--point-width) solid transparent;
  border-left: var(--point-length) solid var(--dark);
  float: right;
}
