.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 3rem 1rem 1rem;
  opacity: 0.35;
}

.close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.arrow {
  position: fixed;
  --point-length: 30px;
  --point-width: 12px;
  --line-length: calc(90vw - var(--point-length));
  --line-width: 6px;
  --arrow-length: calc(var(--line-length) + var(--point-length));
  width: var(--arrow-length);
  max-width: 90vh;
  top: calc(50vh);
  left: calc((100vw - min(var(--arrow-length), 90vh)) / 2);
  margin: auto 0;
}

.arrow .line {
  margin-top: calc((var(--point-width) + var(--line-width)) / 2);
  width: var(--line-length);
  max-width: calc(90vh - var(--point-length));
  background: var(--dark);
  height: var(--line-width);
  float: left;
}

.arrow .point {
  width: 0;
  height: 0;
  border-top: var(--point-width) solid transparent;
  border-bottom: var(--point-width) solid transparent;
  border-left: var(--point-length) solid var(--dark);
  float: right;
}

.close button {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0.25rem;
  color: white;
  font-weight: normal;
  font-size: 2.5rem;
  z-index: 999;
  line-height: 0.75;
}
