.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 3rem 1rem 1rem;
  opacity: 0.35;
}

.back,
.info,
.recalculate {
  position: absolute;
  z-index: 10;
}

.back button,
.info button,
.recalculate button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.back {
  top: 1rem;
  left: 1rem;
}

.back button svg {
  stroke: var(--light);
  fill: var(--light);
  width: 1.5rem;
  stroke-width: 3px;
}

.recalculate {
  bottom: 1rem;
  left: 1rem;
}
.recalculate button {
  color: var(--light);
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 0;
  opacity: 1;
}

.info {
  bottom: 1rem;
  right: 1rem;
}

.info button {
  color: var(--light);
  font-size: 2rem;
  line-height: 0;
}

.info button svg {
  stroke: var(--light);
  fill: var(--light);
  width: 1.5rem;
}


.recalculate button[disabled] {
  opacity: 0.5;
}

.arrow {
  position: fixed;
  --vw-max: 90vw;
  --vh-max: 90vh;

  --point-length: 30px;
  --line-length: calc(var(--vw-max) - var(--point-length));
  --arrow-length: calc(var(--line-length) + var(--point-length));

  --point-width: 12px;
  --line-width: 6px;

  width: var(--arrow-length);
  max-width: var(--vh-max);
  top: calc(50vh);
  left: calc((100vw - min(var(--arrow-length), var(--vh-max))) / 2);
  margin: auto 0;
}

.arrow .line {
  margin-top: calc((var(--point-width) + var(--line-width)) / 2);
  width: var(--line-length);
  max-width: calc(var(--vh-max) - var(--point-length));
  background: var(--dark);
  height: var(--line-width);
  float: left;
  position: relative;
}

.arrow .point {
  width: 0;
  height: 0;
  border-top: var(--point-width) solid transparent;
  border-bottom: var(--point-width) solid transparent;
  border-left: var(--point-length) solid var(--dark);
  float: right;
}

.infoOverlay {
  position: absolute;
  padding: 5rem 2rem 2rem;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100vw;
  z-index: 999;
  background: var(--light);
  display: none;
}

.infoOverlay .close {
  position: absolute;
  z-index: 1010;
  top: 0.5rem;
  left: 0;
  width: 100%;
}

.infoOverlay .close button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: var(--dark);
  font-weight: normal;
  font-size: 2.5rem;
  display: block;
  margin: 0 auto;
  line-height: 1;
}
